h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}
body {
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-style: normal;
    text-align: left;
}
#topbar{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    background:#fff;
}
.top-bar-base{
    padding: 12px 0px;
}
.top-bar1{
    float: left;
    text-align: left!important;
}
.top-bar1 ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.top-bar1 ul li a{
    color: #bdbdbd;
}
.top-bar1 ul li {
    border-right: 1px solid #007bff;
    display: inline-block;
    padding: 0 10px;
    font-size: 14px;
    color: #bdbdbd;
    line-height: 15px;
}
#topbar ul.social li {
    height: 17px;
    margin: 0 -1px;
    padding: 1px 9px;
    width: auto;
}
#topbar .top-bar1 ul.social li a:hover {
    color:#007bff;
}
.text-right{
    text-align: right!important;
}
.menu{
    background-color: #007bff;
    margin-top: 45px;
}
.logo {
    max-width: 100%;
    margin-top: 9px;
}
.mainmenu-in{
    margin-top: -14px;
}
.mainmenu-in ul {
    padding: 0px;
    margin-bottom: 0px;
    text-align: center;
}
.mainmenu-in ul li {
    position: relative;
    list-style: none;
    margin: 0;
    display: inline-block;
    padding-right: 15px;
}
.mainmenu-in ul li a {
    margin: 0 auto;
    position: relative;
    padding: 30px 12px;
    color: #fff;
    font-weight: 500;
    font-family: "Montserrat",sans-serif;
    display: block;
    font-size: 15px;
    text-transform: capitalize;
    text-decoration: none;
}
.mainmenu-btn {
    padding-top: 14px;
}
.mainmenu-btn a {
    background: #086ad8;
    color: #fff;
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 0;
    padding: 0 36px;
    text-align: center;
    text-transform: capitalize;
    transition: all 0.3s ease 0s;
    position: relative;
    min-height: 56px;
    line-height: 56px;
    border-radius: 5px;
}
.inter-section{
    background-image: url(../img/bg-8.jpg);
    min-height: 400px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.section-title-s1{
  padding-bottom: 60px;
}
.section-title-s1 h2 {
  font-size: 45px;
  line-height: 1.17em;
  margin: 0;
  font-weight: 700;
  text-align: center;
}
.section-title-s1 p {
  padding-top: 15px;
  color: #7a8595;
  max-width: 500px;
  margin: 0 auto;
  font-weight: 400;
  font-size: 15px;
  margin-top: 15px;
  margin-bottom: 0rem;
  line-height: 30px;
}
.text-center{
    text-align: center;
}
.inter-title{
    position: relative;
    top: 50%;
}
.inter-title h1 {
    color: #fff;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 4px;
    text-transform: capitalize;
}
.inter-menu ul {
    margin: 0px;
    padding: 0px;
}
.inter-menu ul li {
    display: inline-block;
    padding: 0 10px;
    text-transform: capitalize;
}
.inter-menu ul li a {
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    transition: all 0.3s ease 0s;
}
.inter-menu span {
    color: #007bff;
    font-size: 15px;
    font-weight: 400;
}
.blog-area {
    background: #f4f9fc;
    padding-top: 110px;
    padding-bottom: 80px;
    margin-bottom: 30px;
  }
  
  .mb-30{
    margin-bottom: 30px; 
  }
  
  figure.blog-features {
    position: relative;
    overflow: hidden;
    margin: 0px;
    width: 100%;
    background-color: #ffffff;
    color: #000000;
    text-align: left;
  }
  
  figure.blog-features  img {
    max-width: 100%;
    vertical-align: top;
      -webkit-transform-origin: 50% 100%;
      transform-origin: 50% 100%;
      -webkit-transition: all 0.4s ease;
      transition: all 0.4s ease;
  }
  
  
  figure.blog-features  .date,
  figure.blog-features i{
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
    font-size: 15px;
    font-weight: 600;
    text-transform: capitalize;
    background-color: #007bff;
      top: 25px;
      color: #fff;
      left: 25px;
      border-radius: 5px;
      min-height: 60px;
      min-width: 60px;
      position: absolute;
      text-align: center;
  }
  
  figure.blog-features  * {
  
    -webkit-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease;
  }
  .figure-btn a {
    color: #000;
    font-weight: 500;
    font-size: 15px;
    margin-top: 15px;
    display: inline-block;
  }
  
  figure.blog-features  figcaption {
      padding: 40px;
      position: relative;
  }
  figure.blog-features  .date span {
      display: block;
      line-height: 30px;
  }
  figure.blog-features  .date .month {
      font-size: 15px;
      background-color: rgba(0, 0, 0, 0.1);
  }
  figure.blog-features  i {
      line-height: 60px;
      font-size: 30px;
      -webkit-transform: rotateY(-90deg);
      transform: rotateY(-90deg);
      -webkit-transition-delay: 0s;
      transition-delay: 0s;
  }
  .figure-btn a:hover {
    color: #086ad8;
  }
  figure.blog-features:hover img,
  figure.blog-features:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  figure.blog-features:hover .date,
  figure.blog-features:hover .date {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
  }
  figure.blog-features:hover i,
  figure.blog-features:hover i {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
  }
  figure.blog-features  h4{
    font-size: 21px;
    font-weight: 600;
    margin-bottom: 15px;
    line-height: 30px;
    margin: 0;
    padding: 0;
  }
  figure.blog-features p{
  color:#7a8595;
  font-size:15px;
  margin-bottom: 0px;
  line-height: 30px;
  margin: 0;
  padding: 0;
  }

  .contact-section{
    background: url(../img/bg9.jpg) center center/cover no-repeat;
    text-align: center;
    position: relative;
    background-attachment: scroll;
    background-position: top center;
    width: 100%;
    height: 100%;
    padding-top: 110px;
    padding-bottom: 180px;
}
.contact-section::before{
    background-color: rgba(0, 0, 0, 0.5);
}
.text-left{
    text-align: left;
}
.item {
    margin-bottom: 30px;
}
.contact-section .contact-detail h2 {
    font-size: 45px;
    line-height: 60px;
    margin: 0;
    color: #fff;
    margin-bottom: 25px;
    text-transform: capitalize;
    font-weight: 700;
}
.contact-section .contact-detail p {
    font-size: 15px;
    color: #fff;
    line-height: 30px;
    max-width: 600px;
}
.contact-section a{
    border: 1px solid #007bff;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    margin-top: 38px;
    letter-spacing: 1px;
    overflow: hidden;
    background: #007bff;
    padding: 0px 36px;
    min-height: 56px;
    line-height: 56px;
    position: relative;
    text-transform: capitalize;
    transition: all 0.5s ease;
    box-sizing: border-box;

}

.brand-area{
    padding-top: 110px;
    padding-bottom: 80px;
}


.brand-area .brand-active .owl-carousel.owl-loaded {
    display: block;
}
.mb-30 {
    margin-bottom: 30px;
}
.brand-area .brand-active.owl-carousel{
    width: 100%;
    z-index: 1;
}
.brand-area .brand-active  .brand-image .img {
  transition: all 0.3s ease-out 0s;
  background-size: cover;
    background-position: bottom;
	height: 30px;
    width: 30px;
}
.brand-area .brand-active.owl-carousel .owl-item img {
  display: inline-block;
  width: auto;
}

.footer-top-area{
    position:relative;
    padding-top: 110px;
    padding-bottom: 80px;
    }
.footer-top-area:before {
     position: absolute;
     left: 0;
     top: 0;
     height: 100%;
     width: 100%;
     background-image: url(../img/footer-bg.png);
     background-repeat: repeat;
     background-position: center;
     content: "";
    }
  .footer-wrapper img{
    margin-top: -10px;
    }
  .footer-wrapper p{
    color: #ccc;
    font-size: 15px;
    font-weight: 400;
    line-height:30px;
    margin-bottom: 0;
    }
  .footer-wrapper h4 {
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    line-height: 1.2em;
    margin-bottom: 25px;
    text-transform:capitalize;
    }
    
  .newsletter-form form div {
    position: relative;
    margin-top:30px;
    }
  .newsletter-form input {
    border: 1px solid #ececec;
    }
  .newsletter-form input {
    width: 190px;
    height: 45px;
    font-size: 13px;
    padding: 6px 15px;
    border: 0;
    border-radius: 0;
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.05);
    }
  .newsletter-form form div button {
    background-color: #007bff;
    width: 45px;
    height: 45px;
    text-align: center;
    color: #fff;
    border: 0;
    position: absolute;
    right: 27px;
    }
  ul.footers {
    margin: 0;
    padding: 0;
  }
  .footer-img {
    float: left;
    margin-right: 20px;
  }
  .footer-info h4 {
    color: #eee;
    font-size: 15px;
    position: relative;
    line-height: 1.5em;
    font-weight: 600;
    margin-bottom: 4px;
  }
  .footer-info span {
    color: #ccc;
    display: inline-block;
    font-size: 12px;
  }
  .footers li {
    margin-bottom: 24px;
    overflow: hidden;
  }
  .footer-menu {
    padding: 0px;
    overflow: hidden;
    padding-right: 19px;
  }
  .footer-menu li {
    display: block;
    padding-bottom: 10px;
    position: relative;
    list-style: none;
    width: 50%;
    float: left;
    transition: all ease-in-out .5s;
  }
  .footer-menu li a {
    color: #cccccc;
    font-size: 15px;
    font-weight: 400;
    transition: .3s;
  }
  .footer-menu li a:hover{
      color:#007bff;
      padding-left:10px;
  }
  .footer-menu li a i {
    font-size: 10px;
    margin-right: 15px;
  }
  .footer-insta {
    margin-top: 10px;
    display: inline-block;
  }
  .footer-insta ul {
    margin: 0 -6px;
    padding: 0;
  }
  .footer-insta ul li {
    width: 33.33%;
    float: left;
    padding: 0 6px;
    margin-bottom: 22px;
  }
  .footer-insta ul li img {
    width: 100%;
  }
 .footer-bootom-area {
    background: #007bff;
    padding: 22px 0px;
    z-index: 333333;
}
.copyright  p {
    font-size: 15px;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
}  
.footer-icon {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 0px;
    text-align: right;
}
.footer-icon a {
    color: #e8e8e8;
    font-size: 15px;
    margin-right: 20px;
}